$icomoon-font-path: "fonts" !default;

$icon-search: "\e90f";
$icon-ampolleta-2: "\e90a";
$icon-calendario: "\e90b";
$icon-cita: "\e90c";
$icon-ficha-2: "\e90d";
$icon-plus: "\e90e";
$icon-back: "\e906";
$icon-edit: "\e907";
$icon-next: "\e908";
$icon-square: "\e909";
$icon-ampolleta: "\e900";
$icon-arrow: "\e901";
$icon-cam: "\e902";
$icon-chat: "\e903";
$icon-doctor: "\e904";
$icon-ficha: "\e905";

