<div class="container-fluid banner">
	<div class="container">
		<div class="row">
		  <div class="col-md-12">
		  	<div class="banner-content">
		  		<h2>Bienvenido</h2>
		    	<h3>Aprende todo sobre tu condición médica</h3>
		    	<button type="button" class="btn btn-default btn-big-block yellow">Comienza ya!</button>
		  	</div>
		  </div>
		</div>
	</div>
</div>
<div class="container-fluid bg-home-gray">
	<div class="row bg-home-white">
		<div class="col-xs-12">
			<h2 class="title-home">Acerca de EduMed</h2>
		</div>	
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="info-block">
					<div class="icon-big-home">
						<i class="icono icon-ampolleta"></i>
					</div>
					<h3>Aprende</h3>
					<p>A travez de nuesras guías interactivas aprende acerca de tu condición y como mantener un estado saludable de salud.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="info-block">
					<div class="icon-big-home">
						<i class="icono icon-chat"></i>
					</div>
					<h3>Comunícate</h3>
					<p>Comunícate con otros pacientes como tú, ayuda a resolver sus dudas y aclarar las tuyas. También comunícate directamente con tu doctor.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="info-block">
					<div class="icon-big-home">
						<i class="icono icon-ficha"></i>
					</div>
					<h3>Organízate</h3>
					<p>A travéz de las herramientas como el calendario y la ficha clínica organiza tu tratameinto o procedimiento quirúrgico. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid bg-home-white">
	<div class="row bg-home-white">
		<div class="col-md-12">
			<h2 class="title-home">Suscripción</h2>
		</div>	
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 border-right">
				<div class="conte-steps conte-steps-left">
					<div class="conte-step">
						<div class="step-img">
							<div class="img">
								<img src="img/step/01.jpg">
							</div>
						</div>
						<div class="step-txt">
							<h3>Mediante su Doctor </h3>
							<p>Su doctor le falicitara un código y podra acceder al contenido gratuitamente.</p>
						</div>
					</div>
					<div class="hr-arrow"></div>
					<div class="conte-step conte-step-right">
						<div class="step-txt">
							<p>Al completar el formulario de suscripción digite el código.</p>
						</div>
						<div class="step-img">
							<div class="img">
								<img src="img/step/02.jpg">
							</div>
						</div>
					</div>
					<div class="hr-arrow arrow-left"></div>
					<div class="conte-step">
						<div class="step-img">
							<div class="img">
								<img src="img/step/03.jpg">
							</div>
						</div>
						<div class="step-txt">
							<p>Ingrese sus datos y comience a explorar el contenido interactivo de su interés</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="conte-steps conte-steps-right">
					<div class="conte-step conte-step-right">
						<div class="step-img">
							<div class="img">
								<img src="img/step/01.jpg">
							</div>
						</div>
						<div class="step-txt">
							<h3>Mediante su Doctor </h3>
							<p>Su doctor le falicitara un código y podra acceder al contenido gratuitamente.</p>
						</div>
					</div>
					<div class="hr-arrow arrow-left"></div>
					<div class="conte-step">
						<div class="step-txt">
							<p>Al completar el formulario de suscripción digite el código.</p>
						</div>
						<div class="step-img">
							<div class="img">
								<img src="img/step/02.jpg">
							</div>
						</div>
					</div>
					<div class="hr-arrow"></div>
					<div class="conte-step conte-step-right">
						<div class="step-img">
							<div class="img">
								<img src="img/step/03.jpg">
							</div>
						</div>
						<div class="step-txt">
							<p>Ingrese sus datos y comience a explorar el contenido interactivo de su interés</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid banner-foot">
	<div class="container">
		<div class="row">
		  <div class="col-md-12">
		  	<div class="banner-content">
		  		<div class="logo-app"></div>
		  		<h3>Tú <span>Salud</span> Cuenta</h3>
		    	<h4>Aprende a cuidar de ella</h4>
		  	</div>
		  </div>
		</div>
	</div>
</div>
<div class="container-fluid bg-home-gray">
	<div class="row bg-home-white">
		<div class="col-xs-12">
			<h2 class="title-home">Nuestro contenido:</h2>
		</div>	
	</div>
	<div class="container">
		<div class="row">
		  <div class="col-md-12">
		  	<div class="cont-carousel">
				<div class="slick-container">
					<slick 
			           infinite="true" 
			           slides-to-show="4" 
			           slides-to-scroll="1"
          			>
						<div class="slick-item" ng-repeat="image in images">
        					<img src="{{image.url}}" />
						</div>
					</slick>
				</div>
		  	</div>
		  </div>
		</div>
	</div>
</div>

