<div class="login">
        <form>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" placeholder="Password">
          </div>
          
          <div class="form-inline form-block">
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> M
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> F
              </label>
            </div>
            <div class="form-group">
              <label for="email">Edad:</label>
              <input type="email" class="form-control" id="email" placeholder="Password">
            </div>
          </div>

          <div class="form-group">
            <label for="pass">Contraseña:</label>
            <input type="password" class="form-control" id="pass" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="pass">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="pass" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="pass">Ingresar Código EduMed:</label>
            <input type="text" class="form-control" id="pass" placeholder="Sfsjqw532sy5GP9K4al0">
          </div>

          <div class="form-inline form-block">
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> Acepto las condiciones de servicio
              </label>
            </div>
          </div>
          
          
          <button type="submit" ng-click="clickToClose()" class="btn btn-blue btn-block">Enviar</button>
          
        </form>
      </div>