<div class="container-fluid">
	<div class="container logged-container">
		<div class="row">
			<div class="col-md-4">
				<!-- PLAN -->
	            <div class="block personal">
	                <h2 class="title">Plan 1</h2>
	                <!-- CONTENT -->
	                <div class="content">
	                    <p class="price">
	                        <sup>$</sup>
	                        <span>10.000</span>
	                        <sub>/Men.</sub>
	                    </p>
	                    <p class="hint">Lorem ipsum dolor sit.</p>
	                </div>
	                <!-- /CONTENT -->
	                <!-- FEATURES -->
	                <ul class="features">
	                    <li><span class="fontawesome-cog"></span>25 Ipsum dolor sit amet</li>
	                    <li><span class="fontawesome-star"></span>400,000 Labore /mo.</li>
	                    <li><span class="fontawesome-dashboard"></span>Labore et dolore magna</li>
	                    <li><span class="fontawesome-cloud"></span>30GB Labore et dolore</li>
	                </ul>
	                <!-- /FEATURES -->
	                <!-- PT-FOOTER -->
	                <div class="pt-footer">
	                    <p>Host My Website</p>
	                </div>
	                <!-- /PT-FOOTER -->
	            </div>
	            <!-- /PLAN -->
	             <div class="block-botton">
	            	<button type="button" class="btn btn-lg btn-primary btn-block">Contratar</button>
	            </div>
	        </div>
	        <div class="col-md-4">
	            <!-- PLAN -->
	            <div class="block professional fl">
	                <h2 class="title">Plan 2</h2>
	                <!-- CONTENT -->
	                <div class="content">
	                    <p class="price">
	                        <sup>$</sup>
	                        <span>24.000</span>
	                        <sub>/Men.</sub>
	                    </p>
	                    <p class="hint">Lorem ipsum dolor sit.</p>
	                </div>
	                <!-- /CONTENT -->
	                <!-- FEATURES -->
	                <ul class="features">
	                    <li><span class="fontawesome-cog"></span>25 Ipsum dolor sit amet</li>
	                    <li><span class="fontawesome-star"></span>400,000 Labore /mo.</li>
	                    <li><span class="fontawesome-dashboard"></span>Labore et dolore magna</li>
	                    <li><span class="fontawesome-cloud"></span>30GB Labore et dolore</li>
	                </ul>
	                <!-- /FEATURES -->
	                <!-- PT-FOOTER -->
	                <div class="pt-footer">
	                    <p>Host My Website</p>
	                </div>
	                <!-- /PT-FOOTER -->
	            </div>
	            <!-- /PLAN -->
	            <div class="block-botton">
	            	<button type="button" class="btn btn-lg btn-primary btn-block">Contratar</button>
	            </div>
	        </div>
	        <div class="col-md-4">
	            <!-- PLAN -->
	            <div class="block business fl">
	                <h2 class="title">Plan 3</h2>
	                <!-- CONTENT -->
	                <div class="content">
	                    <p class="price">
	                        <sup>$</sup>
	                        <span>34.990</span>
	                        <sub>/Men.</sub>
	                    </p>
	                    <p class="hint">Lorem ipsum dolor situ.</p>
	                </div>
	                <!-- /CONTENT -->

	                <!-- FEATURES -->
	                <ul class="features">
	                    <li><span class="fontawesome-cog"></span>25 Ipsum dolor sit amet</li>
	                    <li><span class="fontawesome-star"></span>400,000 Labore /mo.</li>
	                    <li><span class="fontawesome-dashboard"></span>Labore et dolore magna</li>
	                    <li><span class="fontawesome-cloud"></span>30GB Labore et dolore</li>
	                </ul>
	                <!-- /FEATURES -->

	                <!-- PT-FOOTER -->
	                <div class="pt-footer">
	                    <p>Host My Website</p>
	                </div>
	                <!-- /PT-FOOTER -->
	            </div>
	            <!-- /PLAN -->		  	
				 <div class="block-botton">
	            	<button type="button" class="btn btn-lg btn-primary btn-block">Contratar</button>
	            </div>
			</div>
				
		</div>
	</div>
</div>
